body {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

header ul {
  list-style: none;
  text-align: center;
}

header li {
  display: inline-block;
  padding: 0 10px;
}

header a {
  text-decoration: none;
}

header a.active {
  color: blue;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    width: calc((100% - 40px) / 3);
    background-color: lightgrey;

    .image {
      padding-top: 20px;
      width: 70%;
      margin: 0 auto;

      img {
        width: 100%;
        aspect-ratio: 1;
      }

    }

    h2 {
      padding: 0 10px;
    }

    strong {
      display: block;
      margin-bottom: 10px;
    }

    span {
      display: block;
      margin-bottom: 20px;
    }
  }
}